.radio-button-container {
    display: flex;
    flex-direction: column;
    
    .radio-wrapper {
        display: flex;
        flex-direction: row;
        
        .radio {
            align-items: flex-start;
            color: $dark-blue;
            display: flex;
            justify-content: flex-start;
            position: relative;
            
            &__circle {
                border: 1px solid $gray;
                border-radius: 50%;
                display: inline-flex;
                height: 20px;
                margin-right: 15px;
                width: 20px;
            }
            
            &__img {
                display: inline-flex;
                height: auto;
                max-width: 100%;
                opacity: .4;
            }
            
            &__text-container {
                align-self: center;
                display: flex;
                flex-shrink: 1000;
            }
            
            &__text {
                display: inline;
                line-height: 1.4;
            }
            
            &:hover {
                cursor: pointer;
                
                .radio__text {
                    
                    text-decoration: underline;
                }
            }
        }


        .radio-input {
            border: 0;
            clip: rect(0, 0, 0, 0);
            flex-grow: 0;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;

            &:checked {
                ~ .radio__circle {
                    background-color: $black;
                    border-color: $gray;
                    box-shadow: 0 0 0 4px $white inset;
                }

                ~ .radio__text {
                    outline: none;
                    text-decoration: none;
                }
            }

            &:disabled {
                ~ .focus-state {
                    display: none;
                }

                ~ * {
                    opacity: .5;
                    outline: none;
                }
            }
        }

        .radio-focus-state {
            box-sizing: content-box;
            display: inline;
            position: absolute;

            &:focus {
                border: .3125rem solid transparent;
                height: 100%;
                left: -.3125rem;
                outline: .0625rem solid $black;
                top: -.3125rem;
                width: 100%;
            }
        }
    }
}
